<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
	<thead>
		<tr>
			<th>
				Serial No.
			</th>
			<th>
				Name
			</th>
			<th>
				Evaluation Type
			</th>
			<th>
				Date
			</th>
			<th>
				View
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let survey of surveysArray;let i = index">
			<td>
				{{ i + 1 }}
			</td>
			<td>
				{{ survey.target }}
			</td>
			<td>
				{{survey.evaluation}}
			</td>
			<td>
				{{survey.created | date}}
			</td>
			<td>
				<a [routerLink]="survey._id">
					<!-- <span class="glyphicon glyphicon-eye-open" center></span> -->
					View Survey
				</a>
				<a (click)="viewSurvey(survey.id)">View</a>
			</td>
		</tr>
	</tbody>
</table>