<div #modal></div>
<loader *ngIf="showLoader"></loader>
<div class="row inline-headers">
	<div class="col-xs-3">			
		<h1>Surveys</h1>
	</div>
	<div class="col-xs-3 form-group pull-right">
		<select [disabled]="!showTeachersList" #teacher name="teacher" class="form-control" (change)="showSurvey(teacher.value)">
			<option value="" name="teachers" value="0" [selected]="teachers">Select Teacher</option>
			<option *ngFor="let teacher of teachersList" [ngValue]="teacher.fullname"> {{ teacher.fullname }} </option>      
		</select>
	</div>
	<div class="col-xs-3 pull-right form-group">
		<select #department name="department" class="form-control" (change)="getNextList('teachers', department.value)">
			<option *ngFor="let dept of deparmentsList" [value]="dept.value"> {{ dept.name }} </option>      
		</select>
	</div>
</div>
<div class="row">
	
	<div class="col-xs-3 pull-right form-group">
		<label for="optimize" class="pull-right">Optimized</label>
		<input type="checkbox" id="optimize" [(ngModel)]="optimize" [disabled]="teacher.value != 0 ? disabled : ''" (change)="onOptimize(teacher.value)" name="optimize" class="pull-left">
	</div>
</div>
<div id="table-wrapper">
	<div id="table-scroll">
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
			<thead>
				<tr>
					<th>S No.</th>
					<th>Teacher</th>
					<th>Course</th>
					<th>Evaluation Type</th>
					<th>Date</th>
					<th>View</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let survey of surveysArray;let i = index">
					<td>{{ i + 1 | number }}</td>
					<td>{{ survey.teacher }}</td>
					<td>{{ survey.course }}</td>
					<td>{{ survey.evaluation }}</td>
					<td>{{ survey.created | date }}</td>
					<td>
						<a [routerLink]="survey._id">
							View Survey
						</a>
					</td>	
				</tr>
			</tbody>
		</table>	
	</div>	
	<div style="margin-top: 0.5%" class="col-xs-3 pull-left form-group">
		<button 
			type="button" 
			class="btn btn-primary pull-left" 
			[disabled]="!(teacher.value != 0)" 
			[ngClass]="{ 'disabled': teacher.value == '0'}" 
			(click)="downloadCSV()">
				<i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Download to Excel</button>              
	</div>
	<div class="pull-right" style="position: absolute; bottom:-8%; right: 0%;" *ngIf="timeToFetch">
		Fetched {{ length }} results in about {{ timeToFetch }} ms
	</div>	
</div>

<!-- <dashoard-modal *ngIf="openModal && modalPurpose == 'survey'" (modalStatus)="modalState($event)" [modalPurpose]="'survey'" [surveyDetails]="{teacher: teacher.value, dept: department.value}"></dashoard-modal> -->
