.scrollbar {
	margin-left: 30px;
	float: left;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
#scroll-bar::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);    
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
.app-box {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}