<div #modal></div>
<alert-message 
    *ngIf="showMessage"
    [top]="'20%'"
    [alert-type]="'danger'" 
    [message]="'You have not answered all question.'">
</alert-message>
<!-- <alert-message [alert-type]="danger" [message]="'Please answer all questions.'"></alert-message> -->
<div *ngIf="!!questions" class="questionare-body col-xs-12 col-md-offset-1 col-md-10">
    <div class="row main-form-header">
        <div class="" style="display: inline">
            <img class="teacher-image " src="./assets/images/duet_logo.png">
        </div>
        <div class="pull-right">
            <ul class="teacher-details">
                <li>{{selectedDepartment}}</li>
                <li>{{selectedTeacher}}</li>
                <li>{{subject? subject: ''}}</li>
            </ul>
        </div>
    </div>
    <div class="scrollbar" id="scrollbar" style="height: 70vh; overflow-y: scroll;">
        <div>
            <course-eval-form *ngFor="let section of questions, let i=index"
                [canComment]="section['canComment']"
                [index]="i"
                [heading]="section['name']"
                [question]="section['queries']"
                (quizReplied)="optionSelected($event)"
                (commentsReplied)="optionSelected($event)"                
            ></course-eval-form>
        </div>
        <div class="form-submittion">
            <button (click)="getStudentRemarks()" class=" btn-lg btn-block btn btn-primary">Submit</button>
        </div>
    </div>                
</div>