<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 animated bounceInRight">
    <h1 class="text-center login-title">Start a new Session</h1>
    <div class="account-wall">
        <img class="survey-form-image img-responsive" src="./assets/images/duet_logo.png">
        <form class="form-signin">
            <div class="row">
                <div class="col-xs-6">
                        <select class="form-control" disabled="true">
                        <option value="sample" name="sample" >{{month}}
                    </select>
                </div>
                    <div class="col-xs-6">
                    <select class="form-control" disabled="true">
                        <option value="sample" name="sample" >{{year}}
                    </select>
                </div>
            </div>
            <br />
            
            <div class="form-group">
                <input type="text" class="form-control" #dept name="dept" [value]="selectedDepartment" disabled="disabled" >
            </div>

            <div class="form-group">
                <select #teacher name="teacher" class="form-control" (change)="getSubjectList(teacher.value)">
                    <option value="" name="teachers" [selected]="teachers">Select Teacher</option>
                    <option *ngFor="let teacher of teachersList" [ngValue]="teacher.fullname"> {{ teacher.fullname }} </option>      
                </select>
            </div>
            <div class="form-group">
                <select #subject class="form-control" [disabled]="!subjects" (change)="selectedSubject(subject.value)" >
                    <option value="" name="course" [selected]="!subjects">Select Subject</option>
                    <option *ngFor="let subject of subjectsList" [ngValue]="subject"> {{ subject }} </option>      
                </select>
            </div>
            <button 
                type="button"
                [disabled]="!validate()"
                (click)="startSession()"
                class="btn btn-primary btn-lg btn-block"
                >Start</button>
            <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </form>
    </div>
</div>
<!-- <dashoard-modal *ngIf="openModal" [modalPurpose]="'evaluation'"></dashoard-modal> -->