<div class="questionare-body col-xs-12 col-md-offset-1 col-md-10">
        <div class="row main-form-header">
            <div class="" style="display: inline">
                <img class="teacher-image " src="./assets/images/duet_logo.png">
            </div>
            <div class="pull-right">
                <ul class="teacher-details">
                    <li>{{selectedDepartment}}</li>
                    <li>Teacher: {{selectedTeacher}}</li>
                    <li>Course: {{subject? subject: ''}}</li>
                    <li>Evaluation: {{evaluationType}}</li>
                    <li>Date: {{date | date}}</li>
                </ul>
            </div>
        </div>
        <div class="scrollbar" id="scrollbar" style="height: 70vh; overflow-y: scroll;">
            <div>
                <course-eval-form *ngFor="let section of questions, let i=index"
                    [index]="i"
                    [heading]="section.name"
                    [question]="section.queries"
                    [canComment]="section.canComment"
                    (quizReplied)="optionSelected($event)"
                    (commentsReplied)="optionSelected($event)"                
                ></course-eval-form>
            </div>
        </div>                
    </div>
    