<div #modal class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 animated bounceInRight">
  <div id="login-container" class="account-wall">
    <img class="survey-form-image img-responsive" src="./assets/images/duet_logo.png">
    <h1 class="text-center app-modal-title">{{ options.header }}</h1>
    
    <div class="text-center" *ngIf="options.metaData.type == 'confirm'">
      <div *ngFor="let div of options.body">
        <h1 class="text-center" *ngFor="let h1 of div.html.h1">{{ h1 }}</h1>
        <h2 class="text-center" *ngFor="let h2 of div.html.h2">{{ h2 }}</h2>
        <p *ngFor="let para of div.html.p">{{ para }}</p>
      </div>
      <h1 class="text-center" *ngFor="let heading of options.body.html?.h1">{{ heading }}</h1>
      <p *ngFor="let para of options.body.html?.p">{{ para }}</p>
    </div>
    
    <form *ngIf="options.metaData.type != 'confirm'" class="form-signin">
      <div [ngClass]="{'radio': option.type == 'radio'}" 
            *ngFor="let option of options.body; let index = index">          
        <label *ngIf="option.type == 'radio'" class="radio-inline text-center" for="{{ option.id }}">
          <input 
          type="{{ option.type }}"
          id="{{ option.id }}"
          name="{{ option.name }}"
          [value]="option.value"
          (focusout)="outputMaps.set(option.name, $event.target.id || $event.target.value)"
          >
          <strong>{{ option.label }}</strong>
        </label>
            
              
        <div class="form-group">        
          <label *ngIf="options.metaData.labels" for="{{ option.id }}">{{ option.label }}</label>
          <input *ngIf="option.type === 'text'   || 
                        option.type === 'email'  || 
                        option.type === 'password'" 
                class="form-control" 
                type="{{ option.type }}"
                id="{{ option.id }}"
                name="{{ option.id }}"
                (focusout)="outputMaps.set(option.id, $event.target.value)"
                placeholder="{{ option.placeholder }}">          
          
          <select
            *ngIf="option.type == 'select'"
            [multiple]="option.multiple"
            class="form-control" 
            [name]="option.id" 
            [id]="option.id"
            [size]="option.size">
            <option *ngFor="let dept of option.options">{{ dept.name }}</option>
          </select>
        </div>
      </div>

    </form>
    <form class="form-signin">
      <span class="form-group" *ngFor="let el of options.footer">
        <button 
          id="{{ el.id }}"
          class="btn btn-primary" 
          [ngClass]="{ 
            'btn-danger pull-right': el.id == 'cancel', 
            'btn-info pull-left': el.id == 'submit',
            'btn-success pull-left': el.id == 'next'
          }" 
          (click)="buttonClicked(el.id)"
        >
        {{  el.label }}
        <i [class]="el.icon" aria-hidden="true"></i>        
        </button>
      </span>
      <br>
    </form>
  </div>
</div>
  
