<loader *ngIf="showLoader"></loader>
<div class=" row">
  <div class="col-xs-3">			
    <h1>Stats</h1>
	</div>
  <div class="col-xs-3 form-group pull-right">
    <select [disabled]="!showTeachersList" #teacher name="teacher" class="form-control" (change)="showSurvey(teacher.value)">
      <!-- <option name="teachers" value="0" [selected]="teachers">Select Teacher</option> -->
      <option *ngFor="let teacher of teachersList" [ngValue]="teacher.fullname"> {{ teacher.fullname }} </option>      
    </select>
  </div>
  <div class="col-xs-3 pull-right form-group">
    <select #department name="department" class="form-control" (change)="getNextList('teachers', department.value)">
      <!-- <option value="" name="departments" [selected]="departments">Select Department</option> -->
      <option *ngFor="let dept of deparmentsList" [value]="dept.value"> {{ dept.name }} </option>      
    </select>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 pull-right">
      <label for="optimize" class="pull-right">Optimized</label>
      <input type="checkbox" id="optimize" [disabled]="teacher.value != 0 ? true : ''" [(ngModel)]="optimize" (change)="onOptimize(teacher.value)" name="optimize" class="pull-left">
    </div>
</div>
  
  <div *ngIf="null && !!options" class="row">
      <div class="col-xs-6 pull-left">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>      
      </div>
      <div class="col-xs-6 pull-right">
          <i class="pull-right fa fa-chevron-right" aria-hidden="true"></i>      
      </div>
  </div>
<div class="row" style="margin-top:30px;">
  
  <div class="col-xs-6 col-xs-offset-2">
    <div style="display: block;">
      <chart [options]="options"></chart>
    </div>
  </div>
  <div *ngIf="!!options" class="col-xs-4 col-xs-offset-4 text-center">Graph generated in {{ timeToFetch }} seconds</div>
</div>
<br>
<div *ngIf="singleSurvey" class="row">
  <div class="col-xs-8 col-xs-offset-2">
      <button type="button" class="btn btn-primary pull-left" (click)="downloadCSV()"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp; Download to Excel</button>                    
      <button class="btn btn-primary pull-right" [routerLink]="['/dashboard/view-surveys', SurveyId]">View Table&nbsp;  <i class="fa fa-line-chart" aria-hidden="true"></i></button>   
  </div>
  <div class="col-xs-4" style="display: none">
    Hello
  </div>
  
</div>
<div *ngIf="!options">
    <alert-message 
      [top]="'20%'"
      [alert-type]="'info'" 
      [message]="'Please select department and teacher to view graph.'"></alert-message>
</div>

