.questionare-body{
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
}

.main-form-header{
    border-bottom: 1px solid rgba(244, 67, 54, 0.34);;
    background-color: rgb(216, 216, 216);
    padding: 5px 20px;
    margin:0 !important;
}   

ul.teacher-details{
    list-style: none;
}
.teacher-image{
    width:60px;
}